<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Admin View</title>
  </head>

  <body>

<h1>Kayak Admin Page</h1> 

<a href="/">Renter Page</a>
    <!-- returns to the index page when a adding or deleting might -->


<section data-position="add-kayak"> 
  <!-- prevent user from adding kayak if left blank -->
    <h3>Add Kayak</h3>

    <form action="/result" method="POST">
      <input type="text" placeholder="Kayak name" name="name" required />
      <button type="submit">Add Now!</button>
    </form>


  </section>

  <section data-position="Kayaks">


    <h2> Kayak Information </h2> 
    <!-- This is currently displaying kayak IDs, not renter information  -->
    <ul class = "list">
        <% for(var i = 0; i < kayaks.length; i++) {%>
        <li class = "kayaks">


            <span>Kayak: <%= kayaks[i].name %></span><br>
            

            <form action="/deleteKayaks/<%= kayaks[i]._id %>" method="post">
          
              <!-- dleete this after delete is wokring  -->
                <p><%= kayaks[i]._id %></p> 
          
                <input type="hidden" name="id" value="<%= kayaks[i]._id %>">

              <input type="submit" value = "Delete" />
            </form>

            <div> <br> </div>

        </li>
        <% } %>
        

    </section> 


  
  <a target="blank" href="https://github.com/astricklandd/unimportant-zebra">Source Code</a>
</body>
</html>
