<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Kayak Rental</title>
  </head>

  <body>
    <h1 data-position="header">Outdoor Adventure Center </h1>


    <a href="/admin">Admin View</a>
<!-- this needs to include a login when clicked (hardcoded for now) -->


<!-- Based on wireframe, the add renter section below should be a different page
that loads when a user clicks the RENT button -->
      There are <%= kayaksAvailable %> available kayaks! 
    
    </section>
      

    <section data-position="Kayaks">


    <h2> Kayak Rentals </h2> 
    <h3> Enter all information below:</h3>

    <!-- This (below) will allow a kayak to say kayak rented
    However, this now makes the kayaksAvailable variable incorrect -->

    <!-- Also this changed the name of a kayak to "kayak rented"
    if we want to do that, we will need an employee input to update name of kayak after it
  is no longer rented  -->
    <ul class = "list">
        <% for(var i = 0; i < kayaks.length; i++) {%>
        <li class = "kayaks">
            <span>Kayak: <%= kayaks[i].name %></span><br>
            
            <form action="/result2" method="POST">
              <input type="text" placeholder="Renter name" name="name2" />
            
              <input type="text" placeholder="L Number" name="num2" />     
      
              <input type="text" placeholder="Phone Number" name="phoneNum" />      
      
              <input type="text" placeholder="Rent Date" name="date" />
              <br>
              <button type="submit">Add Renter!</button>
            </form>
              <form action="/updateKayaks/<%= kayaks[i].name %>" method="post">
                <input type="submit" value = "Rent Now" />
              </form>
          

            <div> <br> </div>

        </li>
        <% } %>
        

    </section> 
    
    <a target="blank" href="https://github.com/astricklandd/unimportant-zebra">Source Code</a>
    
    

    <!-- <script src="main.js"></script> -->
  </body>
</html>

