<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8" />
    <title>Kayak Rental</title>
    <link rel="stylesheet" href="styles.css">
    
  </head>
  <nav class="nav">
    <div class="container">
        <div class="logo">
            <a href="#">OAC Kayaks</a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <li><a href="#" onclick="window.location.href= '/';">
  Kayaks
</a></li>
              <li><a href="#" onclick="window.location.href= '/admin';">
  Admin
</a></li>
                <li><a href="#">Renter Information</a></li>
                
                <li><a href="#" onclick="window.location.href= 'https://github.com/astricklandd/unimportant-zebra/';">
  Source Code
</a></li>
<!-- 									 <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
    Dropdown link
  </a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Link 1</a>
    <a class="dropdown-item" href="#">Link 2</a>
    <a class="dropdown-item" href="#">Link 3</a>
  </div>
</li> -->
            </ul>
        </div>
        <span class="navTrigger">
            <i></i>
            <i></i>
            <i></i>
        </span>
    </div>
</nav>

<section class="home">
</section>
<center>
<div class="card">
  <div class="card-header">
      <div style="height: 150px">
    <!-- just to make scrolling effect possible -->
            <h2 class="myH2">There are <%= kayaksAvailable %> available kayaks! </h2>
            <h1> Enter all information below to rent a kayak:</h1> <br>
          </div>

          <!-- Jquery needed -->
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
          <script src="js/scripts.js"></script>

          <!-- Function used to shrink nav bar removing paddings and adding black background -->
          <script>
              $(window).scroll(function() {
                  if ($(document).scrollTop() > 50) {
                      $('.nav').addClass('affix');
                      console.log("OK");
                  } else {
                      $('.nav').removeClass('affix');
                  }
              });
          </script>

            <body>
        
          <!-- this needs to include a login when clicked (hardcoded for now) -->
          <!-- Based on wireframe, the add renter section below should be a different page
          that loads when a user clicks the RENT button -->
              
    
    </section>
      </div>
  </div>  
</center>
    <section data-position="Kayaks">

<center>

    <!-- This (below) will allow a kayak to say kayak rented
    However, this now makes the kayaksAvailable variable incorrect -->

    <!-- Also this changed the name of a kayak to "kayak rented"
    if we want to do that, we will need an employee input to update name of kayak after it
  is no longer rented  -->
    <ul class = "list">
        <% for(var i = 0; i < kayaks.length; i++) {%>
        <li class = "kayaks">
            <span>Kayak: <%= kayaks[i].name %></span><br>
            
            <form action="/result2" method="POST">
              <input type="text" placeholder="Renter name" name="name2" />
            
              <input type="text" placeholder="L Number" name="num2" />     
      
              <input type="text" placeholder="Phone Number" name="phoneNum" />      
      
              <input type="text" placeholder="Rent Date" name="date" />
              <br>
              <button type="submit">Add Renter!</button>
            </form>
              <form action="/updateKayaks/<%= kayaks[i].name %>" method="post">
                <input type="submit" value = "Rent Now" />
              </form>
          

            <div> <br> </div>

        </li>
        <% } %>
        

    </section> 
    
    <a target="blank" href="https://github.com/astricklandd/unimportant-zebra">Source Code</a>
  </center>
    

    <!-- <script src="main.js"></script> -->
  </body>
  </html>

   
