<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Kayak Rental</title>
  </head>

  <body>
    <h1 data-position="header">Outdoor Adventure Center </h1>


    <a href="/admin">Admin View</a>
<!-- this needs to include a login when clicked (hardcoded for now) -->
<!-- it would also be helpful if it worked  -->


    <section data-position="add-renter">
      <h3>Add Renter</h3>
      
      <form action="/result2" method="POST">
        <input type="text" placeholder="Renter name" name="name2" />
      
        <input type="text" placeholder="L Number" name="num2" />     

        <input type="text" placeholder="Phone Number" name="phoneNum" />      

        <input type="text" placeholder="Rent Date" name="date" />
        <br>
        <button type="submit">Add Now!</button>
      </form>
      <br>
      There are <%= kayaksAvailable %> available! 
    

      <!-- <form action="/result2" method="POST">
        <input type="text" placeholder="Kayak name" name="name2" />
        <button type="submit">Add Now!</button>
      </form> -->

    </section>
      

    <section data-position="Kayaks">


    <h2> Kayak Information </h2> 

    <ul class = "list">
        <% for(var i = 0; i < kayaks.length; i++) {%>
        <li class = "kayakUser">
            <span>Kayak: <%= kayaks[i].name %></span><br>
            

            <form action="/updateKayaks/<%= kayaks[i].name %>" method="post">
              <input type="submit" value = "rent" />
            </form>

            <div> <br> </div>

        </li>
        <% } %>
        

    </section> 
    
    <a target="blank" href="https://github.com/astricklandd/unimportant-zebra">Source Code</a>
    
    

    <!-- <script src="main.js"></script> -->
  </body>
</html>

